
.pet-info {
  .info-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #555;
    
    i {
      width: 18px;
    }
    
    strong {
      font-weight: 500;
    }
  }
}

